.app {
  text-align: center;
  height: 100%;
  width: 100%;
}

.text-box {
  // Get rid of all default styles, very handy!
  all: unset;

  // Real styles start here.
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  font-size: 50px;
  text-align: left;
}

// Not used at the moment.
.glass {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
